spring:
  application:
    name: mscloud.eureka.com

server:
  port: 9090

eureka:
  instance:
    #    prefer-ip-address: true
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/


