<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.examples.spcloud.dao.DeptDao">
    <select id="findbyid" parameterType="long" resultType="com.examples.spcloud.entity.Dept">
        select dno, dname, dbsource from dept where dno=#{dno};
    </select>

    <select id="finfAll" resultType="com.examples.spcloud.entity.Dept">
        select * from dept;
    </select>

    <insert id="addDept" parameterType="com.examples.spcloud.entity.Dept">
        insert into dept(dname, dbsource) values(#{dName}, DATABASE());
    </insert>
</mapper>